.paragraph {
    padding-top: 5%;
    padding-left: 2%;
    font: 16px Arial, Verdana, Helvetica, sans-serif;
}

.form {
    text-align: center;
}

.text {
    background: #cccccc;
    width: 85%;
    margin-top: 7px;
    padding: 9px;
    outline: none;
    border: none;
}

.form textarea {
    background: #cccccc;
    width: 85%;
    margin-top: 7px;
    padding: 9px;
    outline: none;
    border: none;
}

.buttons {
    color: #000066;
    background: #999999;
    padding: 7px 28px 7px 28px;
    margin: 10px 10px 0 0;
    text-transform: uppercase;
    font-size: 0.75em;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}